@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-lightgray {
  background-color: #f0f0f0; /* Set to your desired light gray color */
}

.text-darkgray {
  color: #333333; /* Dark gray text */
}


.blur-map {
  filter: blur(5px);
  transition: filter 0.3s ease;
}



.navbar {
  font-size: 13px;
  background-color: #f1f1f1 !important;
   }

.navbar .nav-link {
  color: #333; /* Darker text for better contrast */
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #007bff; /* Soft hover effect */
}

.bgblue{
  background-color: #007bff;
  color: white;
  padding: 2px 9px 2px 9px;
  font-size: 12px;
  border-radius: 16px;
  box-shadow: 3px 3px 12px  grey;
}
.iconsection  {
  display: flex;
  justify-content: center;
  padding: 2px;
}
.iconcss i{
  color: white;
  font-size: 10px;
  padding: 5px 6px;
}

.iconsection button{
  font-size: 16px;
  color: black;
  padding: 3px;
  border-radius: 33px;
  
}
.iconsection button i{
   padding: 13px;
   box-shadow: 1px 2px 8px  grey;

  color: whitesmoke;
  border-radius: 33px;
}
.navbar .dropdown-toggle {
  cursor: pointer;
}

.soft-dropdown {
  border-radius: 10px; /* Rounded corners for soft UI */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
.hrstyle{
  background-color: rgb(74, 74, 161);
  padding: 1px;
  
}

.dropdown-item {

  padding: 4px 13px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f1f1f1; /* Light hover effect */
}

.bglightgray{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow */
  background-color: #e9ecef;
}
.navbar .navbar-toggler {
  border: none;
}
.navbarcss{
   padding: 0px;
  border-bottom: 0.3px solid rgb(206, 204, 204);
}
.sidebarcss{
  border-right: 1px solid rgb(206, 204, 204);
  font-size: 13px;
}
.navlist li{
  padding: 1px;

}
.navbar .navbar-toggler-icon {
  background-image: none;
  font-size: 1.25rem;
  color: #333;
}

.text-icon{
  border: 1px solid white;
  padding: 4px;
  background-color:darkgrey;
  border-radius: 25px;
 }